.dropdown-container {
  margin-left: 90px;
}
.error-text{
  margin-left: 100px;
}
.dropdown-container select,input {
  background-color: black;
  margin-left: 10px;
  margin-top: 30px;
  font-size: 16px;
  width: inherit;
  padding: 8px; 
  border: 1px solid rgba(0, 0, 0, 0.3); 
  background-color: rgba(255, 255, 255, 0.6); 
  border-radius: 4px;
  font-size: 16px; 
  color: #333; 
  outline: none; 
  cursor: pointer; 
}

.dropdown-container select optgroup {
  opacity: 0.8; 
}

.dropdown-container select option {
  opacity: 0.1; 
 
 
}

.dropdown-container select option:first-child {
  padding-top: 0; 
}

.dropdown-container select option {
  background-color: rgba(255, 255, 255, 0.6); 
}

.dropdown-container select:hover {
  border: 2px solid blue; 
}
